.div {
  max-width: 1280px;
  /* min-height: 100vh; */
  display: grid;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  grid-gap: 10px;
}

.product {
  box-shadow: 5px 5px 15px 5px var(--shadow);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product img {
  width: 415px;
  height: 350px;
  background-size: cover;
  border-radius: 0px 0px 15px 15px;
}
.product p {
  padding: .8rem;
}


.product div {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}


.price {
  display: flex;
  align-items: baseline;
  gap: .2rem;
}
.product p {
  font-size: 1.8rem;
}

.price span {
  font-size: 1.2rem;
  color: var(--text-hover);
}

.price strong {
  font-size: 1.5rem;
}

.product a {
  text-decoration: none;
  margin: none;
  height: 100%;
}

@media(max-width: 980px) {
  .div {
    justify-content: center;
  }
  .product img{
    width: 100%;
    height: 280px;
  }
  .product div {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
}